
*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background:  #FFFAFA;
}

.Logo {
    width: 100px;
    height: 100px;
    float: left;
}

header{
    background: #FFE4E1;
    height: 80px;
    font-family: 'Verdana', Lucida Bright;
    width: 100%;
    top: 0;
    position: fixed;
}

.LoAndReg {
    padding: 10px;
    border-style: inset;
    border-radius: 7%;
    background-color: rgba(225, 183, 183, 0.975);
}

.LoAndReg:hover {
    background-color: #87CEEB; /* Change the color on hover */
}

.LoAndReg:active {
    color: white;
}
    

.TopofPage-Right{
    color: #ffffff;
    padding: 5px 25px;
    float: right;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

.TopofPage-Right nav {
    margin-top: 15px; 
    margin-bottom: 10px;
}

.TopofPage-Right nav a {
    font-size: 1.5rem;
    margin-right: 15px;
    margin-left: 15px;
}

.TopofPage-Right nav ul li{
    display: flex;
    justify-content: space-between;
    position: sticky;  
    top: 0;
}

.TopofPage-Right a:hover{
    color: #87CEEB;
}

.TopofPage-Right a{
    color: #000000;
    text-decoration: none;
}


.tittle {
    text-align: center;
    padding: 0 20px 0 30px;
    margin-top: 100px;
    font-size: 3em;
    font-family: Didot, sans-serif;
}

.News-para {
    text-align: center;
    font-size: 2em;
}

.News {
    max-width: 90%;
    max-height: 100%;
    margin: 20px auto;
    font-family: 'Afrile Script', Lucida Bright;
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.News-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}


.News-layout-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;   
    overflow: hidden;
    text-decoration: none;

}

.News-layout-card a {
    text-decoration: none;
    color: #000000;
}

.News-layout-card a:hover {
    color: #87CEEB;
}

.img-new {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.img-news {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    position: relative;
    bottom: 0;
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 0;
}


.contact-info {
    margin: 0 auto 0 auto;
    padding: 0 0 10px 0;
    background-color: #333;
}
/* Styling for Contact Information */
.contact-info p {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 0 auto;
}

.contact-info-last{
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .TopofPage-Right nav a {
        margin-left: 2px;
    }
}


@media only screen and (max-width: 768px) {
    *{
        font-size: 16px;
    }
    /* Adjust header height and logo size */
    header {
        height: 40px;
    }
    
    .Logo {
        width: 50px;
        height: 50px;
    }
    
    .TopofPage-Right {
        padding: 0px;
        font-size: 1rem;
    }

    /* Adjust font sizes */
    .TopofPage-Right nav a {
        font-size: 1rem;
        margin-right: 5px;
    }
    
    .LoAndReg {
        padding: 0px;
    }
    
    .News-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 500px) {
    .TopofPage-Right nav a {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 480px) {
    *{
        font-size: 14px;
    }
    
    header {
        height: 50px;
        padding: 5px;
    }
    
    h2 {
        font-size: 1.4rem;
        margin-bottom: -27px;
    }

    .Logo {
        width: 40px;
        height: 40px;
    }
   
    .TopofPage-Right nav {
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    .TopofPage-Right nav a {
        font-size: 14px;
        padding: 2px;
        margin: 2px;
    }       
    
    .LoAndReg nav {
        margin: 0;
    }
    
    .LoAndReg button {
        padding: 0px;
    }

    .News-layout {
        grid-template-columns: repeat(1, 1fr);
    }
}
    
/*Iphone(480 x 640)*/
@media screen and (max-width: 390px){
    *{
        font-size: 11px;
    }
    Header {
        height: 120px;
    }
    
    .Logo {
        margin-top: 15px;
        width: 80px;
        height: 80px;
    }
    
    .TopofPage-Right .LoAndReg  {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px 50px 5px 50px;
        margin-top: 7px;
        font-size: 12.5px;
    }

    button#login {
        padding: 0px 60px 0px 60px !important;
    }

    .News {
        margin-top: 150px;
    }
}
