*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background:  #FFFAFA;
}

.Logo {
    width: 100px;
    height: 100px;
    margin-top: 0;
    float: left;
}



header{
    z-index: 1;
    background: #FFE4E1;
    top: 0;
    height: 80px;
    font-family: 'Verdana', Lucida Bright, serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
}

.TopofPage-Left {
    flex: 1;
}

.LoAndReg {
    padding: 10px;
    border-style: inset;
    border-radius: 7%;
    background-color: rgba(225, 183, 183, 0.975);
}

.LoAndReg:hover {
    background-color: #87CEEB; /* Change the color on hover */
}

.LoAndReg:active {
    color: white;
}
    

.TopofPage-Right{
    color: #ffffff;
    padding: 5px 25px;
    float: right;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    
}


.TopofPage-Right nav {
    margin-top: 15px; 
    margin-bottom: 10px;
}

.TopofPage-Right nav a {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
}

.TopofPage-Right nav ul li{
    display: flex;
    justify-content: space-between;
    position: sticky;  
    top: 0;
}

.TopofPage-Right a:hover{
    color: #87CEEB;
}
.TopofPage-Right a{
    color: #000000;
    text-decoration: none;
}

.content {
    width: 100%;
    height: 250vh;
    margin-top: 100px;
    font-family: 'Afrile Script', Lucida Bright;
}

#picnew {
    display: flex;
    margin: 10px auto 10px auto;
    border-radius: 1%;
    width: 45%;
    height: 50vh;
}


.content h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.5em;
}

.content h2 {
    text-align: left;
    margin: 60px auto 20px 100px;
    font-size: 1.5em;
}

.content p {
    text-align: left;
    margin: 20px 100px 20px 100px;
    font-size: 1.2em;
}


.content ul li {
    text-align: left;
    margin-left: 150px;
    font-size: 1em;
}

footer {
    position: relative;
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 0;
}


.contact-info {
    margin: 0 auto 0 auto;
    padding: 0 0 10px 0;
    background-color: #333;
}
/* Styling for Contact Information */
.contact-info p {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 0 auto;
}

.contact-info-last{
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px){
    *{
      font-size: 18px;
    }

    .content {
        height: 300vh;
    }

    #picnew {
        width: 70%;
        height: 50vh;
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 900px) {
    .TopofPage-Right nav a {
        margin-left: 2px;
    }

    .content {
        margin-top: 100px;
        height: 260vh;
    }

    .content p {
        margin: 0 20px 0 20px;
    }

    #picnew {
        width: 80%;
        height: 50vh;
        margin-bottom: 50px;
    }

}


@media only screen and (max-width: 768px) {
    *{
        font-size: 16px;
    }
    /* Adjust header height and logo size */
    header {
        height: 40px;
    }
    
    .Logo {
        width: 50px;
        height: 50px;
    }
    
    .TopofPage-Right {
        padding: 0px;
        font-size: 1rem;
    }

    /* Adjust font sizes */
    .TopofPage-Right nav a {
        font-size: 1rem;
        margin-right: 5px;
    }
    
    .LoAndReg {
        padding: 0px;
    }
    
    .content {
        margin-top: 100px;
    }

    .content h2 {
        text-align: left;
        margin: 60px auto 20px 10px;
        font-size: 1.5em;
    }

    .content p {
        text-align: left;
        margin: 20px 10px 20px 10px;
        font-size: 1em;
    }
}


@media screen and (max-width: 540px) {
    *{
        font-size: 12px;
    }

    .TopofPage-Right nav a {
        font-size: 1rem;
    }

    .content {
        margin-top: 100px;
        height: 220vh;
    }
}

@media only screen and (max-width: 480px) {
  
    header {
        height: 50px;
        padding: 5px;
    }
    
    h2 {
        font-size: 1.4rem;
        margin-bottom: -27px;
    }

    .Logo {
        width: 40px;
        height: 40px;
    }
   
    .TopofPage-Right nav {
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    .TopofPage-Right nav a {
        font-size: 14px;
        padding: 2px;
        margin: 2px;
    }       
    
    .LoAndReg nav {
        margin: 0;
    }
    
    .LoAndReg button {
        padding: 0px;
    }   

    .content {
        height: 220vh;
    }

}
    
/*Iphone(480 x 640)*/
@media screen and (max-width: 390px){
    *{
        font-size: 11px;
    }
    Header {
        height: 100px;
    }
    
    .Logo {
        margin-top: 15px;
        width: 40px;
        height: 40px;
    }
    
    .TopofPage-Right .LoAndReg  {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px 50px 5px 50px;
        margin-top: 8px;
        font-size: 12.5px;
        float: right;
    }

    
    .content {
        margin-top: 150px;
        height: 240vh;
    }

    .content h2 {
        text-align: left;
        margin: 60px auto 20px 10px;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 280px) {

    .header {
        height: 105px;
    }

    .content {
        margin-top: 150px;
        height: 280vh;
    }
}
